# Modeling ingredients recommender

The goal of this notebook is to prepare the datasets that we will use to train the Machine Learning Model

In [2]:
import pandas as pd
import pymysql
import getpass

# Function that creates a mysql connection
def connect(user="root", db="final-project"):
    return pymysql.connect(host="localhost",
                           port=3306,
                           user=user,
                           passwd=getpass.getpass("Please provide your password"),
                           db=db)

In [3]:
# create a variable that contains the function
conn = connect()

Please provide your password········

In [6]:
# Test if the connection works well
query0 = """
SELECT
    *
FROM ingredients
LIMIT 5;
    """

top5 = pd.read_sql(query0, conn)

In [7]:
top5.head()

   Id         Ingredient  Count
0   0               salt  15070
1   1             butter  13263
2   2        white sugar  13032
3   3  all-purpose flour  10257
4   4             garlic   8113

## 1. Reviews per ingredient
The goal is to obtain a table with reviews per ingredients. Similar to:

user_id | recipe_id | ingredients | review
--------|--------|--------|--------|
int64 | int64 | object | int64 |

### 1.1 Import and clean dataset

In [ ]:
reviews_ingredient_temp.head()

In [ ]:
reviews_ingredient_temp.shape

### 1.2 Create a subset with function

### 1.2 Drop the columns

## 2. Create feature set
based on user ratings for recipes that we are using to ingredients as well

Dataset design:

| ingredient | user1 | user2 | ... | userN |
|---------|-------|-------|-----|-------|
| pork belly | NA | 1 | ... | 5 |
| smoked paprika | 3 | NA | ... | 2 |

### First, however, we need to (i) filter ingredients with almost no ratings and (ii) reduce the list of ingredients. Those may not yield meaningful recommendations.

1. Drop ingredients with less than 10 appearances
2. Count ratings for each ingredient
3. Join ratings on count from previous step
4. Fitler

In [ ]:
# Count number of ratings
no_of_ratings = (ratings
                 .groupby("ingredient", as_index=False)
                 .agg({"user_id": "count"})
                 .rename(columns={"user_id": "no_of_ratings"}))

In [ ]:
# Create a dataframe with unique ingredients
ingredients_ml_temp = interactions_ingredient.groupby

### 2.2 Create feature set

In [ ]:
# Pivot tables
ingredient_features = final_movies.pivot_table(index="ingredient",
                                          columns="user_id",
                                          values="rating").fillna(0)

In [ ]:
ingredient_features.head()

In [ ]:
#with open("movie_recommender/movie_features.pkl", "wb") as mf:
#    pickle.dump(movie_features, mf, protocol=pickle.HIGHEST_PROTOCOL)

## 3. Modelling

In [ ]:
from scipy.sparse import csr_matrix

In [ ]:
mat_ingredient_features = csr_matrix(ingredient_features)

In [14]:
recipes = pd.read_csv('data/to_sql/recipes.csv')

In [20]:
type(recipes)

pandas.core.frame.DataFrame

In [21]:
recipes.explode('ingredients')

,Unnamed: 0,recipe_id,recipe_name,aver_rate,review_nums,ingredients
0,0,222388,Homemade Bacon,5.000000,3,"['pork belly', 'smoked paprika', 'kosher salt'..."
1,1,240488,"Pork Loin, Apples, and Sauerkraut",4.764706,29,"['sauerkraut drained', 'Granny Smith apples sl..."
2,2,218939,Foolproof Rosemary Chicken Wings,4.571429,12,"['chicken wings', 'sprigs rosemary', 'head gar..."
3,3,87211,Chicken Pesto Paninis,4.625000,163,"['focaccia bread quartered', 'prepared basil p..."
4,4,245714,Potato Bacon Pizza,4.500000,2,"['red potatoes', 'strips bacon', 'Sauce:', 'he..."
...,...,...,...,...,...,...
49693,49693,222886,Grateful Dead Cocktail,3.500000,4,"['fluid ounce tequila', 'fluid ounce vodka', '..."
49694,49694,25650,Cheese Filling For Pastries,4.333333,3,"['raisins', 'brandy', 'cream cheese', 'white s..."
49695,49695,23544,Peach Smoothie,3.615385,21,"['sliced peaches drained', 'scoops vanilla ice..."
49696,49696,170710,Double Dare Peaches,4.714286,19,"['butter', 'habanero peppers', 'fresh peaches'..."
49697,49697,79774,All-Purpose Marinara Sauce,4.500000,2,"['olive oil', 'bulb garlic', 'tomatoes chopped..."

In [17]:
recipes1.head()

,Unnamed: 0,recipe_id,recipe_name,aver_rate,review_nums,ingredients
0,0,222388,Homemade Bacon,5.000000,3,"['pork belly', 'smoked paprika', 'kosher salt'..."
1,1,240488,"Pork Loin, Apples, and Sauerkraut",4.764706,29,"['sauerkraut drained', 'Granny Smith apples sl..."
2,2,218939,Foolproof Rosemary Chicken Wings,4.571429,12,"['chicken wings', 'sprigs rosemary', 'head gar..."
3,3,87211,Chicken Pesto Paninis,4.625000,163,"['focaccia bread quartered', 'prepared basil p..."
4,4,245714,Potato Bacon Pizza,4.500000,2,"['red potatoes', 'strips bacon', 'Sauce:', 'he..."

### #. Possible analysis
- Which are the 25 recipes with more reviews
- Is there a correlation between number of reviews and score. Hyphotesis, the higher the number of reviews the higher the score?
- Is there any correlation between the number of ingredients of a recipe and the rating/number of reciews?